<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

  <link rel="stylesheet" href="/css/main.css">
  <title>Productivity app</title>
</head>
<body>
  <nav>
    <div class="header">
      
      <% if (user) { %>
        <a href="/user/index">🏠</a>
        <a href="/user/new">Create a new Goal</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <% } else { %>
        <a href="/">🏠</a>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>


  </nav>
  <main>
