<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.17/index.global.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.17/index.global.min.js'></script>

  <link rel="stylesheet" href="/css/main.css">
  <title>ElevateSelf</title>
</head>
<body>
  <nav>
    <div class="header">
      <div class="nav-container">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="Logo" height="90"></a>
        </div>
        <div class="nav-links">
          <% if (user) { %>
            <a href="/user/index"><button class="nav-button primary">Home</button></a>
            <a href="/user/new"><button class="nav-button primary">Create a new Goal</button></a>
            <a href="/auth/sign-out"><button class="nav-button danger">SIGN OUT</button></a>
          <% } else { %>
            <a href="/auth/sign-up"><button class="nav-button primary">SIGN UP</button></a>
            <a href="/auth/sign-in"><button class="nav-button primary">SIGN IN</button></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  <main>
